In [1]:
import pandas as pd

In [16]:
pd.options.display.float_format = '{:.2f}'.format # меняем дефолт вид чисел с плавающей запятой

In [22]:
export_2015 = pd.read_excel('russia2015.xlsx', sheet_name='Partner')
export_2016 = pd.read_excel('russia2016.xlsx', sheet_name='Partner')
export_2017 = pd.read_excel('russia2017.xlsx', sheet_name='Partner')

In [23]:
export_2015.head()

,Reporter Name,Partner Name,Year,Trade Flow,No Of exported HS6 digit Products,Export Share in Total Products (%),Export (US$ Thousand),Export Partner Share (%)
0,Russian Federation,Aruba,2015,Export,nan,nan,nan,nan
1,Russian Federation,Afghanistan,2015,Export,183.00,4.23,148012.80,0.04
2,Russian Federation,Angola,2015,Export,286.00,6.61,139394.17,0.04
3,Russian Federation,Anguila,2015,Export,nan,nan,nan,nan
4,Russian Federation,Albania,2015,Export,86.00,1.99,66986.54,0.02

In [24]:
export = pd.concat([export_2015, export_2016, export_2017])

In [25]:
export.sample(5) # выводит случайные строки

,Reporter Name,Partner Name,Year,Trade Flow,No Of exported HS6 digit Products,Export Share in Total Products (%),Export (US$ Thousand),Export Partner Share (%)
107,Russian Federation,Kazakhstan,2016,Export,3916.00,90.02,9426891.45,3.30
221,Russian Federation,St. Vincent and the Grenadines,2016,Export,1.00,0.02,610.58,0.00
141,Russian Federation,Mozambique,2016,Export,11.00,0.25,41176.37,0.01
229,Russian Federation,Zambia,2015,Export,34.00,0.79,18645.74,0.01
54,Russian Federation,Czech Republic,2017,Export,1229.00,28.16,2862459.02,0.80

In [45]:
exclude = ['Europe & Central Asia', 'East Asia & Pacific', ' World',
    'Unspecified', 'Middle East & North Africa', 'North America', 'Latin America & Caribbean', 
    'Other Asia, nes', 'South Asia']
export_filtered = export[-export['Partner Name'].isin(exclude)]

In [47]:
export_pivot = export_filtered.pivot_table(index=['Year', 'Partner Name'], values='Export (US$ Thousand)', aggfunc='sum')\
    .sort_values(['Year', 'Export (US$ Thousand)'], ascending=[True, False])

In [49]:
export_pivot.index

MultiIndex(levels=[[2015, 2016, 2017], ['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguila', 'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire', 'Bosnia and Herzegovina', 'Botswana', 'Bouvet Island', 'Brazil', 'British Indian Ocean Ter.', 'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Cook Islands', 'Costa Rica', 'Cote d'Ivoire', 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia(excludes Eritrea)', 'Faeroe Islands', 'Falkland Island', 'Fiji', 'Finland', 'Fr. So. Ant. Tr', 'France', 'French Polynesia', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Heard Island and McDonald Isla', 'Holy See', 'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, Dem. Rep.', 'Korea, Rep.', 'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macao', 'Macedonia, FYR', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'Northern Mariana Islands', 'Norway', 'Occ.Pal.Terr', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Barthélemy', 'Saint Helena', 'Saint Maarten (Dutch part)', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia, FR(Serbia/Montenegro)', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Georgia and the South Sa', 'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia', 'St. Vincent and the Grenadines', 'Sub-Saharan Africa', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Isl.', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'United States Minor Outlying I', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Wallis and Futura Isl.', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe']],
           codes=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], [148, 45, 106, 82, 108, 114, 19, 213, 110, 168, 221, 218, 118, 75, 20, 100, 220, 66, 77, 193, 186, 203, 132, 185, 98, 123, 224, 59, 85, 70, 202, 30, 60, 198, 171, 14, 34, 105, 116, 2, 139, 102, 136, 55, 219, 214, 227, 97, 180, 205, 81, 157, 129, 119, 84, 142, 207, 10, 17, 39, 103, 101, 182, 150, 166, 138, 115, 169, 153, 165, 190, 212, 65, 211, 58, 109, 226, 104, 230, 48, 204, 122, 27, 208, 13, 111, 0, 5, 83, 194, 9, 199, 187, 159, 12, 144, 160, 206, 56, 63, 113, 15, 1, 143, 32, 126, 44, 181, 61, 89, 162, 217, 99, 54, 50, 57, 145, 223, 140, 151, 96, 53, 28, 128, 21, 231, 134, 71, 72, 117, 133, 51, 170, 173, 164, 38, 90, 137, 67, 93, 124, 131, 183, 80, 73, 37, 16, 4, 25, 184, 232, 146, 121, 158, 41, 147, 35, 163, 135, 149, 195, 68, 36, 189, 125, 192, 79, 22, 155, 107, 179, 92, 33, 40, 127, 24, 200, 130, 178, 161, 74, 43, 78, 152, 209, 42, 197, 62, 18, 23, 95, 3, 6, 7, 8, 11, 31, 46, 49, 52, 64, 69, 76, 86, 87, 91, 94, 112, 120, 141, 154, 167, 172, 175, 188, 191, 201, 215, 216, 222, 225, 228, 148, 45, 82, 19, 213, 106, 114, 110, 221, 108, 168, 220, 75, 218, 20, 100, 77, 118, 2, 66, 203, 59, 85, 98, 123, 186, 34, 198, 202, 132, 70, 224, 193, 102, 171, 185, 30, 14, 105, 60, 227, 136, 13, 116, 129, 219, 10, 103, 138, 139, 81, 182, 17, 157, 211, 142, 97, 205, 169, 207, 55, 214, 5, 119, 115, 39, 101, 153, 212, 180, 226, 104, 58, 144, 199, 84, 56, 165, 48, 83, 190, 71, 65, 0, 187, 204, 9, 109, 230, 166, 160, 111, 159, 194, 206, 150, 181, 122, 113, 54, 12, 1, 27, 61, 126, 16, 38, 26, 72, 44, 124, 143, 89, 223, 163, 99, 53, 63, 217, 32, 151, 170, 134, 208, 145, 140, 50, 11, 28, 96, 131, 117, 162, 173, 164, 128, 90, 41, 232, 51, 37, 67, 35, 36, 135, 183, 93, 147, 149, 80, 25, 4, 184, 158, 127, 200, 22, 21, 74, 107, 121, 68, 40, 42, 189, 79, 192, 92, 197, 231, 130, 133, 62, 15, 43, 152, 33, 57, 91, 125, 120, 178, 176, 73, 88, 86, 156, 196, 179, 8, 52, 161, 78, 229, 24, 23, 18, 95, 3, 29, 31, 46, 47, 49, 64, 69, 76, 87, 112, 141, 146, 154, 167, 174, 175, 188, 195, 201, 209, 210, 215, 222, 225, 45, 148, 19, 82, 213, 114, 110, 168, 108, 221, 106, 75, 218, 20, 220, 100, 118, 66, 203, 185, 77, 85, 59, 224, 60, 186, 123, 132, 98, 34, 193, 171, 30, 198, 2, 202, 70, 105, 14, 136, 116, 219, 139, 102, 227, 169, 10, 142, 157, 101, 180, 55, 211, 115, 81, 205, 97, 17, 119, 39, 129, 84, 182, 207, 48, 138, 153, 212, 199, 214, 104, 230, 58, 56, 165, 160, 103, 181, 187, 13, 65, 9, 0, 190, 166, 204, 111, 206, 122, 83, 109, 12, 5, 159, 194, 150, 44, 113, 1, 143, 226, 217, 38, 71, 208, 144, 54, 170, 89, 126, 27, 151, 63, 196, 223, 53, 96, 26, 51, 164, 41, 131, 173, 32, 162, 28, 50, 90, 35, 61, 67, 134, 99, 72, 124, 147, 140, 22, 128, 93, 117, 183, 4, 36, 16, 25, 37, 135, 15, 23, 107, 40, 11, 69, 158, 232, 42, 200, 127, 73, 152, 184, 145, 92, 79, 43, 21, 74, 163, 189, 68, 3, 130, 121, 192, 177, 62, 149, 231, 133, 80, 195, 87, 33, 91, 57, 125, 178, 86, 225, 179, 31, 161, 6, 7, 8, 18, 29, 46, 47, 49, 52, 64, 76, 78, 95, 112, 120, 141, 146, 154, 167, 172, 175, 176, 188, 191, 197, 201, 209, 215, 216, 222]],
           names=['Year', 'Partner Name'])

In [50]:
export_pivot[export_pivot.index.get_level_values('Year') == 2015]

                                     Export (US$ Thousand)
Year Partner Name
2015 Netherlands                               40198496.43
     China                                     28334954.57
     Italy                                     16204284.05
     Germany                                   15906242.25
     Japan                                     14426352.10
     Korea, Rep.                               13196117.47
     Belarus                                   12428309.69
     Turkey                                    11703271.07
     Kazakhstan                                10301605.71
     Poland                                     9513335.86
     United States                              8393104.75
     Ukraine                                    7163121.74
     Latvia                                     6699113.18
     Finland                                    6487007.42
     Belgium                                    6348194.68
     India                                      4549940.90
     United Kingdom                             4523691.79
     Egypt, Arab Rep.                           3252856.56
     France                                     3066522.88
     Spain                                      2679579.15
     Slovak Republic                            2608042.76
     Switzerland                                2542571.43
     Malta                                      2501418.08
     Singapore                                  2491994.66
     Hungary                                    2317684.55
     Lithuania                                  2304170.62
     Uzbekistan                                 2221187.87
     Czech Republic                             2217199.49
     Greece                                     2062312.42
     Estonia                                    2012579.01
...                                                    ...
     Anguila                                          0.00
     Antarctica                                       0.00
     Antigua and Barbuda                              0.00
     Aruba                                            0.00
     British Indian Ocean Ter.                        0.00
     Christmas Island                                 0.00
     Comoros                                          0.00
     Cook Islands                                     0.00
     East Timor                                       0.00
     Eritrea                                          0.00
     Fr. So. Ant. Tr                                  0.00
     Greenland                                        0.00
     Grenada                                          0.00
     Guinea-Bissau                                    0.00
     Heard Island and McDonald Isla                   0.00
     Kiribati                                         0.00
     Lesotho                                          0.00
     Montserrat                                       0.00
     Niue                                             0.00
     Pitcairn                                         0.00
     Russian Federation                               0.00
     Saint Helena                                     0.00
     Solomon Islands                                  0.00
     South Georgia and the South Sa                   0.00
     Swaziland                                        0.00
     Turks and Caicos Isl.                            0.00
     Tuvalu                                           0.00
     United States Minor Outlying I                   0.00
     Vanuatu                                          0.00
     Wallis and Futura Isl.                           0.00

[222 rows x 1 columns]